*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Roboto', sans-serif;
    background: #000;
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center; 
}

#menu
{
    border-radius: 47px;
    border: 8px solid #FFF;
    background: #000;
    width: 1372px;
    height: 140px;
    flex-shrink: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 30px;
}

#menu a
{
    position: relative;
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 143px;
    margin: 0 40px 0 40px;
    text-align: center;
    text-decoration: none;
}

#barraInferior 
{
    position: absolute;
    background: #ffffff;
    width: 165px;
    height: 6px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: absolute;
    justify-content: center;
    align-items: center;
}

#logo
{
    background: url(), rgba(0, 0, 0, 0) 50% / cover no-repeat;
    width: 127px;
    height: 123px;
    flex-shrink: 0;
    bottom: 0;
}