body
.form-container {

    border-radius: 20px;
    border: 10px solid #FFF;
    background: #000;
    width: 50%;
    height: 10%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.form-container a {
    position: relative;
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 143px;
    margin: 0 40px 0 40px;
    text-align: center;
    text-decoration: none;
}

.form-container a:hover {
    color: black;
    background-color: #FFF;
}



.table-responsive {

}

table {

    border-radius: 10px;
    color: white;
    border: 2px solid white;
    margin: 0 auto;
    width: 50%;
    font-size: 30px;
}

tr:hover {
    background-color: white;
    color: black;
}

th, td {

    padding: 8px;
    text-align: left;
    border: 1px solid white;
}

td a {
    position: relative;
    color: #FFF;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
}

td a:hover {
    color: black;
    background-color: #FF0000;

}

form{
    font-family: "Courier New", Courier, monospace;
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 5px solid white;
    border-radius: 10px;
}

input[type=number] {
width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    background-color: white;
    color: black;
}

input[type=submit] {
    background-color: #FF0000;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px auto;
    display: block;
}

label {
    position: relative;
    color: white;
    font-size: 20px;
    margin: 0 0 5px 0;
    display: block;
    text-align: center;
}
