html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #000;

}




.logo {
    width: 127px;
    height: 123px;
    flex-shrink: 0;
    bottom: 0;
}




body {
    background-color: black;
    font-family: Arial, sans-serif;
}

.title {
    font-size: 36px;
    margin-top: 50px;
    text-align:center;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
}
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

#board {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

#background {
    margin-top: 70px;
    width: 950px;
    height: 660px;
    position: relative;
    top: 0;
    left: 0;
    background-image: url("../img/sala_Cobra.jpg"); /
    background-size: cover;
    z-index: -2;
}

#square {
    width: 930px;
    height: 200px;
    position: absolute;
    bottom: -120px;
    left: 0;
    background-color: white;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px;
}

#narrator {
    font-weight: bold;
}

#speech {
    font-style: italic;
}
.teste{
    position: relative;
    z-index: 10;
}