h2 {
    color: #FFF;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 50px 500px ;
    font-size: 50px;


}
h4 {

    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;

}

#delete-button h4 {
   padding-left: 6px;

}
h6 {
    position: absolute;
    top: 0;
    left: 5px;
    color: red;
}

.form-container a {
    color: white;
}
.form-container a:hover {
    color: darkred;
}

.form-container {
    font-family: "Courier New", Courier, monospace;
    background: #000;
    color: #FFF;
    border-radius: 47px;
    border: 3px solid #FFF;
    padding: 20px;
    width: 460px;
    position: relative;
    top: 51%;
    left: 50%;
    margin-top:290px;
    transform: translate(-50%, -50%);
}
#email-update input {
    width: 50%;
    padding: 10px;
    border: 2px solid #FFF;
    margin: 15px;
    background: white;
    color: #000;
    border-radius: 15px;
}

#username-update input {
    width: 50%;
    padding: 10px;
    border: 2px solid #FFF;
    margin: 15px;
    background: white;
    color: #000;
    border-radius: 15px;
}

#password-update input {
    width: 50%;
    padding: 10px;
    border: 2px solid #FFF;
    margin: 15px;
    background: white;
    color: #000;
    border-radius: 15px;
}

#username-update button, #email-update button, #password-update button {
    width: 20%;
    padding: 10px;
    border: 2px solid #FFF;
    border-radius: 15px;

    background: white;
    color: #000;
    margin: 10px 10px auto;

}
#delete-button button{
    width: 20%;
    padding: 10px;
    border: 2px solid #FFF;
    border-radius: 15px;

    background: white;
    color: #000;
    margin: 10px 200px auto;

}
#username-update button:hover, #email-update button:hover, #password-update button:hover {
    background: #000;
    color: #FFF;
}

#delete-button button:hover {
    background: #FF0000;
    color: #FFF;
    margin: 10px auto; /* Adicione esta linha */
    display: block;

}
.welcome {
    text-align: center;
    font-size: 24px;
}

.user-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px 820px auto;

}